fastapi
uvicorn
langchain
langgraph
langchain-openai
langchain-ollama
langchain-community
networkx
chromadb
pydantic
python-dotenv
duckduckgo-search
ddgs
beautifulsoup4
httpx<0.28
python-multipart
wikipedia
pypdf
arxiv
youtube-transcript-api
youtube-search-python
